[submodule "Modules/Quick"]
	path = Modules/Quick
	url = https://github.com/Quick/Quick
	branch = swift-2.0
[submodule "Modules/Swiftz"]
	path = Modules/Swiftz
	url = https://github.com/DanielAsher/Swiftz.git
