[submodule "Modules/Swiftx"]
	path = Modules/Swiftx
	url=https://github.com/DanielAsher/Swiftx
	ignore = dirty
[submodule "Modules/Quick"]
	path = Modules/Quick
	url = https://github.com/Quick/Quick
	branch = swift-2.0
